.CaseStudy {
	padding-top: 64px;
	line-height: 1.5;
	background-color: #eee;

	.content {
		@media (min-width: 768px) {
			display: flex;
		}
		img {
			width: auto;
			max-width: 100%;
			border: 1px solid black;
			box-sizing: border-box;
		}
	}
	article {
		padding: 32px 24px;
		box-sizing: border-box;
		h2 {
			margin: 0;
		}
		@media (min-width: 1024px) {
			width: 25%;
		}
		@media (max-width: 1023px) and (min-width: 768px) {
			width: 33%;
		}
		@media (max-width: 767px) {
			width: 100%;
		}
	}
	section {
		padding: 0px;
	}
	dt {
		font-size: 12px;
		font-weight: bold;
		text-transform: uppercase;
	}
	dd {
		margin-left: 0px;
		margin-bottom: 16px;
		font-weight: 100;
	}
	.image-gallery {
		flex: 1;
		display: flex;
		flex-wrap: wrap;
	}
	.image-tile {
		margin: 8px;
		background-size: cover;
		background-position: center;
		cursor: pointer;
		box-shadow: 0px 0px 0px 1px color(black a(10%)) inset;

		@media (min-width: 1024px) {
			width: calc(33% - 16px);
			height: calc(24vw - 16px);
		}
		@media (max-width: 1023px) and (min-width: 768px) {
			width: calc(50% - 16px);
			height: calc(32vw - 16px);
		}
		@media (max-width: 767px) {
			width: calc(50% - 16px);
			height: calc(49vw - 16px);
		}
	}
}
.Modal.image-modal {
	.modal-body {
		width: 100%;
		height: 100%;
		flex-direction: column;
		align-items: center;
		justify-content: flex-start;
		padding: 16px 32px 32px;
		box-sizing: border-box;
	}
	img {
		flex-shrink: 0;
		/*max-width: calc(100% - 64px);*/
		max-width: 100%;
	}
	.image-modal-close {
		position: absolute;
		top: 8px;
		right: 8px;
		z-index: 10;
		.Button {
			transition: background-color, 0.2s;
			color: white;
			&:hover {
				background-color: color(black a(20%));
			}
		}
	}
}