.CaseStudy {
	padding-top: 64px;
	line-height: 1.5;
	.headerimg {
		width: 100%;
		height: 25vw;
		background-size: cover;
		background-position: center;
		@media (max-width: 640px) {
			height: 50vw;
		}
		&.placeholder {
			background-position: 50% 20%;
		}
	}
	.content {
		max-width: 960px;
		margin: 0px auto;
		@media (min-width: 640px) {
			display: flex;
		}
		img {
			width: auto;
			max-width: 100%;
			border: 1px solid black;
			box-sizing: border-box;
		}
	}
	aside {
		width: 25%;
		padding: 16px;
		box-sizing: border-box;
		@media (max-width: 640px) {
			width: 100%;
		}
	}
	article {
		width: 75%;
		padding: 16px;
		box-sizing: border-box;
		@media (max-width: 640px) {
			width: 100%;
		}
	}
	section {
		padding: 0px;
	}
	dt {
		font-size: 12px;
		font-weight: bold;
		text-transform: uppercase;
	}
	dd {
		margin-left: 0px;
		margin-bottom: 16px;
		font-weight: 100;
	}
	.image-gallery {
		display: flex;
		flex-wrap: wrap;
		margin: -8px;
	}
	.image-tile {
		width: 192px;
		height: 192px;
		background-size: cover;
		background-position: center;
		cursor: pointer;
		margin: 8px;
		border: 1px solid black;
	}
}
.image-modal {
	/*background-size: contain;*/
	.modal-body {
		max-height: calc(100% - 48px);
		max-width: calc(100% - 48px);
	}
	img {
		width: 100%;
	}
}