@import "variables.css";
@import "typography.css";

body {
	font-family: "Roboto";
	position: absolute;
	width: 100%;
	margin: 0px;
	display: flex;
	flex-direction: column;
	min-height: 100%;
}

main {
	flex: 1;
	flex-shrink: 0;
	display: flex;
	width: 100%;
	flex-direction: column;
	/*padding-top: 64px;*/
}

.view {
	flex: 1;
}

#Contact {
	padding: 64px 0px 0px 0px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
	.contact-methods {	
		list-style: none;
		max-width: 480px;
		padding: 16px;
		margin: 0px;
		box-sizing: border-box;
		font-size: 18px;
		font-weight: 100;
		margin-bottom: 32px;
		/*margin: 32px;*/
		li {
			.icon {
				margin-right: 16px;
			}
			a {
				color: $contrast2;
				text-decoration: none;
			}
			& + li {
				margin-top: 16px;
			}
		}
	}
}

#Index {
	padding-top: 64px;
}

#Quote {
	blockquote {
		max-width: 480px;
		padding: 32px;
		box-sizing: border-box;
		font-weight: 100;
	}
	cite {
		margin-top: 8px;
		display: block;
	}
}
footer {
	padding: 16px;
	box-sizing: border-box;
	flex-shrink: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	background-color: #333;
	color: white;
}

button {
	font-family: "Roboto";
}

#logo {
	font-size: 128px;
}
#logotype {
	color: $contrast1;
}

#hero {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	min-height: 24vw;
	h1 {
		font-weight: 100;
		@media (max-width: 640px) {
			font-size: 32px;
		}
	}
}

.filter-group {
	font-weight: 100;
	line-height: 32px;
	margin-bottom: 32px;
	font-size: 24px;
	.filter {
		transition: box-shadow, 0.2s;
		display: inline-block;
		box-shadow: 0px 1px 0px black;
		color: black;
		margin-bottom: 4px;
		cursor: pointer;
		&:hover {
			box-shadow: 0px 4px 0px black;		
		}
		&.active {
			background-color: $contrast1;
		}
	}
	@media (max-width: 640px) {
		font-size: 18px;
		line-height: 24px;
	}
}

#main-toolbar {
	transition-property: box-shadow, background-color;
	transition-duration: 0.2s;
	position: fixed;
	z-index: 10;
	width: 100%;
	background-color: white;
	color: #333;
	justify-content: center;
	#logo {
		font-size: 16px;
		line-height: 24px;
	}
	.active {
		color: $main;
	}
	a {
		color: #333;
	}
	&.scrolled {
		box-shadow: 0px 8px 4px color(black a(20%));
		a {
			color: #333;
		}
	}
}

#logobutton.active .Button {
	background-color: $main;
	color: white;
}

.TouchTarget {
	&.primary {
		.Button {
			background-color: $main;
			color: white;
		}
	}
}

.card-container {
	display: flex;
	flex-wrap: wrap;
	overflow: visible;
	&.People {
		justify-content: center;
	}
}
#About {
	section {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
}
.writeup {
	max-width: 480px;
	box-sizing: border-box;
	padding: 16px;
	h2 {
		text-align: center;
	}
	p {
		font-size: 18px;
		font-weight: 100;
	}
}
.ClientAndPartnerCard {
	.image {
		display: flex;
		align-items: center;
		width: 128px;
		height: 128px * 0.707;
		img {
			max-width: 128px;
			max-height: 128px * 0.707;
		}
	}
}

.ViewTransition-enter {
	transition-property: opacity;
	transition-duration: 0.3s;
  opacity: 0.01;
}

.ViewTransition-enter.ViewTransition-enter-active {
  opacity: 1;
}

.ViewTransition-leave {
	transition-property: opacity;
	transition-duration: 0.3s;
  opacity: 1;
}

.ViewTransition-leave.ViewTransition-leave-active {
  opacity: 0.01;
}

.projects-enter {
	transition-property: transform, opacity;
	transition-duration: 0.3s;
	transform: scale(0);
  opacity: 0.01;
}

.projects-enter.projects-enter-active {
  transform: scale(1);
  opacity: 1;
}

.projects-leave {
	transition-property: transform, opacity;
	transition-duration: 0.3s;
  transform: scale(1);
  opacity: 1;
}

.projects-leave.projects-leave-active {
	transform: scale(0);
  opacity: 0.01;
}