@import "variables.css";
@import "typography.css";

body {
	font-family: "Roboto";
	margin: 0px;
}

main {
	/*padding-top: 64px;*/
}

section {
	padding: 16px;
	box-sizing: border-box;
}

section#Contact {
	padding: 64px 0px 0px 0px;
	/*padding: 0px;*/
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	/*padding: 80px 16px 16px 16px;*/
	/*position: absolute;*/
	/*top: 0;*/
	/*bottom: 0;*/
	width: 100%;
	.contact-methods {	
		list-style: none;
		padding: 0px;
		margin: 0px;
		font-size: 24px;
		font-weight: 100;
		margin: 32px;
		li {
			margin-bottom: 32px;
			.icon {
				margin-right: 16px;
			}
			a {
				color: $contrast2;
				text-decoration: none;
			}
		}
	}
}

#Index {
	padding-top: 64px;
}

footer {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	blockquote {
		max-width: 480px;
		padding: 32px;
		box-sizing: border-box;
		font-weight: 100;
	}
	cite {
		margin-top: 8px;
		display: block;
	}
}

button {
	font-family: "Roboto";
}

#logo {
	font-size: 128px;
}
#logotype {
	color: $contrast1;
}

#hero {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	/*padding: 32px 32px 64px 32px;*/
	min-height: 24vw;
	color: rgba(black, 0.4);
	h1 {
		font-weight: 100;
		/*margin-bottom: 0px;*/
	}
}

.filter-group {
	font-weight: 100;
	font-size: 24px;
	line-height: 32px;
	margin-bottom: 64px;
	p {
		margin: 16px 0px;
	}
	.filter {
		@include transition(box-shadow, 0.2s);
		display: inline-block;
		box-shadow: 0px 1px 0px black;
		color: black;
		margin-bottom: 4px;
		cursor: pointer;
		&:hover {
			box-shadow: 0px 4px 0px black;		
		}
		&.active {
			background-color: $contrast1;
		}
	}
}

.Toolbar {
	transition-property: box-shadow, background-color;
	transition-duration: 0.2s;
	position: fixed;
	z-index: 10;
	width: 100%;
	background-color: white;
	/*background-color: rgba(255,255,255,0.9);*/
	color: #333;
	justify-content: center;
	#logo {
		font-size: 16px;
		line-height: 24px;
	}
	.active {
		color: $main;
	}
	a {
		color: #333;
	}
	&.scrolled {
		box-shadow: 0px 8px 4px rgba(0,0,0,0.2);
		a {
			color: #333;
		}
	}
}

#logobutton.active .Button {
	background-color: $main;
	color: white;
}

.card-container {
	display: flex;
	flex-wrap: wrap;
	&.People {
		justify-content: center;
	}
}
#About {
	h1 {
		text-align: center;
	}
	p {
		font-size: 18px;
		font-weight: 100;
		max-width: 400px;
	}
	section {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
}

.ClientAndPartnerCard {
	.image {
		display: flex;
		align-items: center;
		width: 128px;
		height: 128px * 0.707;
		img {
			max-width: 128px;
			max-height: 128px * 0.707;
		}
	}
	/*img {
		@include filter(grayscale(100%));
	}
	&:hover {
		img {
			@include filter(grayscale(0%));
		}
	}*/
}

.projects-enter {
	transition-property: transform, opacity;
	transition-duration: 0.3s;
	transform: scale(0);
  opacity: 0.01;
}

.projects-enter.projects-enter-active {
  transform: scale(1);
  opacity: 1;
}

.projects-leave {
	transition-property: transform, opacity;
	transition-duration: 0.3s;
  transform: scale(1);
  opacity: 1;
}

.projects-leave.projects-leave-active {
	transform: scale(0);
  opacity: 0.01;
}