@import "variables.css";

.PersonCard {
	display: flex;
	align-items: center;
	flex-direction: column;
	margin: 16px;
	max-width: 192px;
	.portrait {
		border-radius: 50%;
		margin-bottom: 8px;
		width: 192px;
		height: 192px;
	}
	h4 {
		font-weight: 100;
		margin: 0px;
	}
	h5 {
		text-align: center;
		height: 36px;
	}
	h5 {
		margin: 0;
	}
}