@import "variables.css";

.ProjectCard {
	transition-property: opacity, transform;
	transition-duration: 0.2s;
	position: relative;
	background-color: white;
	overflow: hidden;
	box-sizing: border-box;

	&.dimmed {
		opacity: 0.2;
		transform: scale(0.8);
	}
	
	@media (min-width: 769px) {
		width: 25%;
		height: 24vw;
	}
	@media (max-width: 768px) and (min-width: 481px) {
		width: 33.33%;
		height: 32vw;
	}
	@media (max-width: 480px) {
		width: 50%;
		height: 49vw;
	}
	@media (min-width: 769px) {
		width: 25%;
		height: 24vw;
	}
	.image {
		display: flex;
		align-items: center;
		min-height: 100%;
		min-width: 100%;
		background-size: cover;
		background-position: center;
		overflow: hidden;
	}
	.info {
		padding: 16px;
	}
	.more {
		display: flex;
		transition-property: transform, opacity;
		transition-duration: 0.3s;
		transform: scale(0);
		align-items: center;
		height: 50%;
		width: 50%;
		border-radius: 50%;
		background-color: $main;
		color: white;
		text-decoration: none;
		box-sizing: border-box;
		padding: 8px;
		h3 {
			width: 100%;
			text-align: center;
			font-weight: 700;
			text-transform: uppercase;
			font-size: 24px;
			@media (max-width: 1024px) {
				font-size: 18px;
			}
			@media (max-width: 640px) and (min-width: 1023px) {
				font-size: 14px;
			}
		}
	}
	.overlay {
		transition-property: transform, opacity;
		transition-duration: 0.3s;
		display: flex;
		align-items: center;
		justify-content: center;
		background-color: rgba(0,0,0, 0.8);
		opacity: 0;
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		color: white;
		padding: 16px;
		box-sizing: border-box;
	}
	
	&:hover {
		.more {
			transform: scale(1);
		}
		.overlay {
			opacity: 1;
		}
	}
}