h1 {
	font-size: 56px;
}
h2 {
	font-size: 45px;
}
h3 {
	font-size: 34px;
}
h4 {
	font-size: 24px;
}
body {
	line-height: 1.4;
}

article {
	h1 {
		margin: 16px 0px;
		font-size: 45px;
	}
	h2 {
		font-size: 34px;
	}
	h3 {
		font-size: 24px;
	}
	p {
		font-weight: 100;
	}
}

@media (max-width: 640px) {
	h1 {
		font-size: 45px;
	}
	h2 {
		font-size: 34px;
	}
	h3 {
		font-size: 24px;
	}
	h4 {
		font-size: 18px;
	}

	article {
		h1 {
			margin: 16px 0px;
			font-size: 34px;
		}
		h2 {
			font-size: 24px;
		}
		h3 {
			font-size: 18px;
		}
		p {
			font-size: 14px;
			font-weight: normal;
		}
	}
}