@import "bourbon";

.TouchTarget {
	display: inline-block;
	cursor: pointer;
	box-sizing: border-box;
	min-height: 48px;
	min-width: 48px;
	margin: 0px;
	padding: 0px;
	border: none;
	background-color: transparent;
	outline: none;
	&.IconButton .Button {
		box-sizing: border-box;
		border-radius: 50%;
		height: 48px;
		width: 48px;
		padding: 12px;
	}
	&.TextButton {
		margin: -6px 8px;
		padding: 6px 0px;
		height: 48px;
		.Button {
			height: 36px;
			min-width: 64px;
			line-height: 36px;
			font-size: 16px;
			text-transform: uppercase;
			padding: 0px 8px;
		}
	}
	[class*="icon-"] {
	  height: 24px;
	  width: 24px;
	  font-size: 24px;
	  display: inline-block;
	}
	&:hover {
		.Button {
			background-color: rgba(white, 0.2);
		}
	}
}
.IconButton {
	// display: inline-block;
	// border-radius: 50%;
	// cursor: pointer;
	// box-sizing: border-box;
	// height: 48px;
	// width: 48px;
	// padding: 12px;
	// // height: 40px;
	// // width: 40px;
	// border: none;
	// background-color: transparent;
	// outline: none;

	// &:active, &:hover {
	//   background-color: rgba(white, 0.2);
	// }
	// &.selected {
	//   background-color: rgba(black, 0.2);
	//   color: $contrast;
	// }
	// &.fab {
	//   height: 56px;
	//   width: 56px;
	//   padding: 16px;
	//   @include transition(margin 0.2s);
	//   &.dodging {
	//     margin-bottom: 48px;
	//   }
	// }
	// &.small {
	//   padding: 12px;
	//   i {
	//     height: 16px;
	//     width: 16px;
	//     font-size: 16px;
	//   }
	// }
	// @media (min-device-width: 601px) {
	//   &:hover, &.selected, &:active {
	//     background-color: rgba(white, 0.05);
	//     &.dark {
	//       background-color: rgba(black, 0.05);
	//     }
	//   }
	// }
}