@import "bourbon";

.TouchTarget {
	display: inline-block;
	cursor: pointer;
	box-sizing: border-box;
	min-height: 48px;
	min-width: 48px;
	margin: 0px;
	padding: 0px;
	border: none;
	background-color: transparent;
	outline: none;
	text-align: center;
	&.IconButton .Button {
		box-sizing: border-box;
		border-radius: 50%;
		height: 48px;
		width: 48px;
		padding: 12px;
	}
	&.TextButton {
		margin: -6px 0px;
		padding: 6px 0px;
		height: 48px;
		.Button {
			height: 36px;
			min-width: 64px;
			line-height: 36px;
			font-size: 14px;
			text-transform: uppercase;
			padding: 0px 8px;
		}
	}
	[class*="icon-"] {
	  height: 24px;
	  width: 24px;
	  font-size: 24px;
	  display: inline-block;
	}
	&:hover {
		.Button {
			background-color: rgba(white, 0.2);
		}
	}
	& + .TouchTarget {
		margin-left: 8px;
	}
}