@import "bourbon";
@import "neat";
@import "variables";
@import "typography";

body {
	font-family: "Roboto";
	margin: 0px;
	background-color: #111;
	color: white;
}

main {
	padding-top: 64px;
}

section#Contact {
	@include display(flex);
	@include flex-direction(column);
	@include align-items(center);
	@include justify-content(center);
	padding: 80px 16px 16px 16px;
	position: absolute;
	top: 0;
	bottom: 0;
	width: 100%;
	h1 {
		font-weight: 100;
		margin: 0px;
	}
}

button {
	font-family: "Roboto";
}

#logo {
	font-size: 128px;
}
#logotype {
	color: $contrast1;
}

#hero {
	@include display(flex);
	@include flex-direction(column);
	@include align-items(center);
	@include justify-content(center);
	padding: 32px;
	min-height: 24vw;
	// background-color: #222;
	color: rgba(white, 0.4);
	h1 {
		font-weight: 100;
		margin-bottom: 0px;
	}
	// #blurb {
	// 	max-width: 768px;
	// }
}

.filter-group {
	font-weight: 100;
	font-size: 24px;
	line-height: 32px;
	p {
		margin: 16px 0px;
	}
	.filter {
		@include transition(box-shadow, 0.2s);
		display: inline-block;
		box-shadow: 0px 1px 0px white;
		color: white;
		margin-bottom: 4px;
		cursor: pointer;
		&:hover {
			box-shadow: 0px 4px 0px white;		
		}
		&.active {
			background-color: $contrast1;
		}
	}
}

.Toolbar {
	@include transition-property(box-shadow, background-color);
	@include transition-duration(0.2s);
	position: fixed;
	z-index: 10;
	width: 100%;
	background-color: #111;
	color: white;
	@include justify-content(center);
	#logo {
		font-size: 16px;
		line-height: 24px;
	}
	.active {
		color: $main;
	}
	a {
		color: white;
	}
	&.scrolled {
		background-color: white;
		color: #333;
		box-shadow: 0px 1px 2px rgba(black, 0.1);
		a {
			color: #333;
		}
	}
}

.PersonCard {
	// @include display(flex);
	margin: 8px;

	img {
		border-radius: 50%;
		// width: 100%;
		// height: auto;
	}
	// @include media(min-width 769px) {
	// 	width: calc(25% - 16px);
	// 	// height: 24vw;
	// }
	// @include media(max-width 768px min-width 481px) {
	// 	width: calc(33.33% - 16px);
	// 	// height: 32vw;
	// }
	// @include media(max-width 480px) {
	// 	width: calc(50% - 16px);
	// 	// height: 49vw;
	// }
}

#logobutton.active .Button {
	background-color: $main;
	color: white;
}

.card-container {
	@include display(flex);
	@include flex-wrap(wrap);
	&.People {
		@include justify-content(center);
	}
	// @include justify-content(center);
}

.SakayphSection {
	@include display(flex);
	background-color: #2a6d45;
	height: 320px;
	overflow: hidden;
	padding-top: 16px;
	.desktop-image {
		width: 90%;
		img {
			width: 100%;
		}
	}
	.mobile-image {
		width: 40%;
		position: absolute;
		top: 72px;
		right: 0px;
	}
	.images {
		width: 67%;
		position: relative;
	}
	.info {
		width: 33%;
		padding: 32px;
		color: white;
		box-sizing: border-box;
		h1 {
			font-weight: 100;
		}
	}
}

.ClientAndPartnerCard {
	.image {
		@include display(flex);
		@include align-items(center);
		width: 128px;
		height: 128px * 0.707;
		img {
			max-width: 128px;
			max-height: 128px * 0.707;
		}
	}
	img {
		@include filter(grayscale(100%));
	}
	&:hover {
		img {
			@include filter(grayscale(0%));
		}
	}
}

.projects-enter {
	@include transition-property(transform, opacity);
	@include transition-duration(0.3s);
	@include transform(scale(0));
  opacity: 0.01;
  // transition: opacity .5s ease-in;
}

.projects-enter.projects-enter-active {
  @include transform(scale(1));
  opacity: 1;
}

.projects-leave {
	@include transition-property(transform, opacity);
	@include transition-duration(0.3s);
  @include transform(scale(1));
  opacity: 1;
  // transition: opacity .5s ease-in;
}

.projects-leave.projects-leave-active {
	@include transform(scale(0));
  opacity: 0.01;
}