@import "bourbon";
@import "neat";
@import "variables";
@import "typography";

body {
	font-family: "Roboto";
	margin: 0px;
	background-color: white;
}

button {
	font-family: "Roboto";
}

.Button {
	color: $light;
}

#logo {
	font-size: 128px;
}
#logotype {
	color: $contrast1;
}

#hero {
	@include display(flex);
	@include flex-direction(column);
	@include align-items(center);
	padding: 32px;
	h1 {
		font-weight: 100;
		margin-bottom: 0px;
	}
	// #blurb {
	// 	max-width: 768px;
	// }
}

.filter-group {
	font-weight: 100;
	font-size: 24px;
	.filter {
		display: inline-block;
		border: 1px solid #333;
		padding: 8px;
		cursor: pointer;
		&.active {
			background-color: $contrast1;

		}
	}
}

.Toolbar {
	background-color: rgba(black, 0.05);
	color: #333;
	.Button {
		color: #333;
	}
	#logo {
		font-size: 16px;
		margin-right: 8px;
	}
}

.card-container {
	@include display(flex);
	@include flex-wrap(wrap);
	// @include justify-content(center);
}

.Portfolio {
	// padding: 16px;
}

.ProjectCard {
	position: relative;
	background-color: white;
	overflow: hidden;
	// margin: 8px;
	box-sizing: border-box;
	@include media(min-width 769px) {
		// width: calc(24vw - 16px);
		// height: calc(24vw - 16px);
		width: 25%;
		height: 24vw;
	}
	@include media(max-width 768px min-width 481px) {
		// width: calc(32vw - 16px);
		// height: calc(32vw - 16px);
		width: 33.33%;
		height: 32vw;
	}
	@include media(max-width 480px) {
		width: 100%;
		height: 99vw;
	}
	.image {
		@include display(flex);
		@include align-items(center);
		// height: 256px;
		min-height: 100%;
		min-width: 100%;
		background-size: cover;
		background-position: center;
		// width: 100%;
		overflow: hidden;
		// img {
		// 	width: 100%;
		// }
	}
	.info {
		padding: 16px;
	}
	.more {
		@include display(flex);
		@include transition-property(transform, opacity);
		@include transition-duration(0.3s);
		@include transform(scale(0));
		@include align-items(center);
		height: 50%;
		width: 50%;
		border-radius: 50%;
		background-color: $main;
		h3 {
			width: 100%;
			text-align: center;
			font-weight: 700;
			text-transform: uppercase;
			font-size: 24px;
		}
	}
	.overlay {
		@include transition-property(transform, opacity);
		@include transition-duration(0.3s);
		@include transition-timing-function(ease-out);
		@include display(flex);
		@include align-items(center);
		@include justify-content(center);
		// @include transform(translateY(100%));
		background-color: rgba(black, 0.8);
		opacity: 0;
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		color: white;
		padding: 16px;
		box-sizing: border-box;
	}
	&:hover {
		.more {
			@include transform(scale(1));
		}
		.overlay {
			// @include transform(translateY(0%));
			opacity: 1;
		}
	}
}

.SakayphSection {
	@include display(flex);
	background-color: #2a6d45;
	height: 320px;
	overflow: hidden;
	padding-top: 16px;
	.desktop-image {
		width: 90%;
		img {
			width: 100%;
		}
	}
	.mobile-image {
		width: 40%;
		position: absolute;
		top: 72px;
		right: 0px;
	}
	.images {
		width: 67%;
		position: relative;
	}
	.info {
		width: 33%;
		padding: 32px;
		color: white;
		box-sizing: border-box;
		h1 {
			font-weight: 100;
		}
	}
}

.ClientAndPartnerCard {
	.image {
		@include display(flex);
		@include align-items(center);
		width: 128px;
		height: 128px * 0.707;
		img {
			max-width: 128px;
			max-height: 128px * 0.707;
		}
	}
	img {
		@include filter(grayscale(100%));
	}
	&:hover {
		img {
			@include filter(grayscale(0%));
		}
	}
}

.projects-enter {
	@include transition-property(transform, opacity);
	@include transition-duration(0.3s);
	@include transform(scale(0));
  opacity: 0.01;
  // transition: opacity .5s ease-in;
}

.projects-enter.projects-enter-active {
  @include transform(scale(1));
  opacity: 1;
}

.projects-leave {
	@include transition-property(transform, opacity);
	@include transition-duration(0.3s);
  @include transform(scale(1));
  opacity: 1;
  // transition: opacity .5s ease-in;
}

.projects-leave.projects-leave-active {
	@include transform(scale(0));
  opacity: 0.01;
}