@import "bourbon";

.Toolbar {
	@include display(flex);
	@include align-items(center);
	@include flex-shrink(0);
	height: 64px;
	padding: 0px 12px;
	a {
		display: block;
		text-decoration: none;
	}
	.toolbar-group {
		@include display(flex);
		height: 100%;
	}
	.toolbar-item {
		@include display(flex);
		@include align-items(center);
		text-transform: uppercase;
		font-size: 14px;
		height: 100%;
		padding: 0px 8px;
		margin: 0px 8px;
	}
	.spacer {
		@include flex(1);
	}
	#brand h1 {
		font-size: 24px;
		font-weight: 100;
		margin: 0px 16px;
	}
}