body {
  font-family: "Roboto";
  margin: 0px;
  background-color: white; }

button {
  font-family: "Roboto"; }

.Button {
  color: #FFFBE8; }

#logo {
  font-size: 128px; }

#hero {
  background-color: #9E2A2B;
  color: white;
  padding: 16px;
  height: 480px; }
  #hero h1 {
    font-weight: 100; }

.Toolbar {
  background-color: #540B0E;
  color: #FFFBE8; }
  .Toolbar .Button {
    color: #FFFBE8; }
  .Toolbar #logo {
    font-size: 16px;
    margin-right: 8px; }

.card-container {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  box-lines: multiple;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.Portfolio {
  padding: 16px; }

.ProjectCard {
  background-color: white;
  margin: 8px;
  width: 256px; }
  .ProjectCard .image {
    display: -webkit-box;
    display: -moz-box;
    display: box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -moz-box-align: center;
    box-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    -o-align-items: center;
    align-items: center;
    -ms-flex-align: center;
    height: 128px;
    width: 100%;
    overflow: hidden; }
    .ProjectCard .image img {
      width: 100%; }
  .ProjectCard .info {
    padding: 16px; }

.ClientAndPartnerCard .image {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  box-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  -ms-flex-align: center;
  width: 128px;
  height: 90.496px; }
  .ClientAndPartnerCard .image img {
    max-width: 128px;
    max-height: 90.496px; }

.ClientAndPartnerCard img {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%); }

.ClientAndPartnerCard:hover img {
  -webkit-filter: grayscale(0%);
  filter: grayscale(0%); }
.Toolbar {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  box-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  -ms-flex-align: center;
  -webkit-flex-shrink: 0;
  -moz-flex-shrink: 0;
  flex-shrink: 0;
  -ms-flex-negative: 0;
  height: 64px;
  padding: 0px 12px; }
  .Toolbar a {
    display: block;
    color: #FFFBE8;
    text-decoration: none; }
  .Toolbar .toolbar-group {
    display: -webkit-box;
    display: -moz-box;
    display: box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    height: 100%; }
  .Toolbar .toolbar-item {
    display: -webkit-box;
    display: -moz-box;
    display: box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -moz-box-align: center;
    box-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    -o-align-items: center;
    align-items: center;
    -ms-flex-align: center;
    text-transform: uppercase;
    font-size: 14px;
    height: 100%;
    padding: 0px 8px;
    margin: 0px 8px; }
    .Toolbar .toolbar-item.active {
      box-shadow: 0px -4px 0px 0px #E09F3E inset; }
  .Toolbar .spacer {
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    box-flex: 1;
    -webkit-flex: 1;
    -moz-flex: 1;
    -ms-flex: 1;
    flex: 1; }
  .Toolbar #brand h1 {
    font-size: 24px;
    font-weight: 100;
    margin: 0px 16px; }
.TouchTarget {
  display: inline-block;
  cursor: pointer;
  box-sizing: border-box;
  min-height: 48px;
  min-width: 48px;
  margin: 0px;
  padding: 0px;
  border: none;
  background-color: transparent;
  outline: none;
  text-align: center; }
  .TouchTarget.IconButton .Button {
    box-sizing: border-box;
    border-radius: 50%;
    height: 48px;
    width: 48px;
    padding: 12px; }
  .TouchTarget.TextButton {
    margin: -6px 0px;
    padding: 6px 0px;
    height: 48px; }
    .TouchTarget.TextButton .Button {
      height: 36px;
      min-width: 64px;
      line-height: 36px;
      font-size: 14px;
      text-transform: uppercase;
      padding: 0px 8px; }
  .TouchTarget [class*="icon-"] {
    height: 24px;
    width: 24px;
    font-size: 24px;
    display: inline-block; }
  .TouchTarget:hover .Button {
    background-color: rgba(255, 255, 255, 0.2); }
  .TouchTarget + .TouchTarget {
    margin-left: 8px; }
