@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?fytb83');
	src:url('fonts/icomoon.eot?#iefixfytb83') format('embedded-opentype'),
		url('fonts/icomoon.woff2?fytb83') format('woff2'),
		url('fonts/icomoon.ttf?fytb83') format('truetype'),
		url('fonts/icomoon.woff?fytb83') format('woff'),
		url('fonts/icomoon.svg?fytb83#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-facebook-square:before {
	content: "\e602";
}
.icon-twitter:before {
	content: "\e601";
}
.icon-bi-logo:before {
	content: "\e600";
}
.icon-email:before {
	content: "\e04c";
}
.icon-design:before {
	content: "\e19c";
}
.icon-map:before {
	content: "\e1f3";
}
.icon-close:before {
	content: "\e209";
}
.icon-menu:before {
	content: "\e20e";
}
.icon-dev:before {
	content: "\e284";
}
.icon-bizdev:before {
	content: "\e30b";
}
